// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
.navbar-nav {
    width: 100%;
}
.home-header {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;;
}